body {
    background: black;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#playerImage, #backgroundImage, #enemyImage {
    display: none;
}
