chinucanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}
.controls {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20%;
    transform: translateX(-50%);
}
.controls, select, option {
    font-size: 25px;
}
